<div class="container mt-5 d-flex justify-content-center flex-column">
    <form action="submit" [formGroup]="registerForm" class="d-flex flex-column">

        <div class="form-floating mb-3">
            <input formControlName="email" type="email" class="form-control" id="floatingInput"
                placeholder="name@example.com" type="email" autocomplete="off">
            <label for="floatingInput">E-mail</label>
        </div>
        <div class="form-floating mb-3">
            <input formControlName="password" type="password" class="form-control" id="floatingPassword"
                placeholder="Password" type="password" autocomplete="off">
            <label for="floatingPassword">Contraseña</label>
        </div>
        <div class="form-floating">
            <input formControlName="repeatpassword" type="password" class="form-control" id="floatingRepeatPassword"
                placeholder="Password" type="password" autocomplete="off">
            <label for="floatingRepeatPassword">Reingrese contraseña</label>
        </div>

        <input type="submit" (click)="register()" class="btn btn-primary mt-3">
    </form>
    <div>
        ¿Ya tenés cuenta?, logueate:
        <button class="btn btn-danger my-5" (click)="goLogin()">Ir al Login</button>
    </div>
</div>